<template>
     <QuillEditor toolbar="essential" :read-only="!!props.readOnly" ref="editorRef" @editorChange="emit('editorChange', editorRef)"></QuillEditor>
</template>

<script setup>
import { computed, onMounted, ref, watch } from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const emit = defineEmits(['editorChange']);
const props = defineProps(['readOnly', 'setHTML']);

const editorRef = ref(null);
const selectedPost = computed(() => store.getters.getSelectedPost);

onMounted(() => {
     if (selectedPost.value && props.setHTML) {
          editorRef.value.setHTML(selectedPost.value.html);
     } else {
          editorRef.value.setHTML('');
     }
});

watch(
     () => selectedPost.value,
     (newValue) => {
          editorRef.value.setHTML(newValue.html);
     }
);
</script>

<script>
export default {
     name: 'PostComponent',
};
</script>
