<template>
     <AuthWrapper>
          <template #form>
               <form @submit.prevent="handleSubmit({ v$, state, recaptchaRef })">
                    <h1 class="authContainer__title">Update password</h1>
                    <span class="authContainer__server-error" v-if="store.getters.getServerError">{{ store.getters.getServerError }}</span>
                    <div class="input-group" :class="{ error: v$.password.$errors.length }">
                         <input
                              :type="showPassword ? 'text' : 'password'"
                              v-model="state.password"
                              placeholder="Enter new password"
                              @blur="v$.password.$touch"
                         />
                         <span class="input-group__show-password" :class="{ active: showPassword }" @click="showPassword = !showPassword"></span>
                         <div class="input-group__errors" v-for="error of v$.password.$errors" :key="error.$uid">
                              <span>{{ error.$message }}</span>
                         </div>
                    </div>
                    <div class="authContainer__submit">
                         <button type="submit" :disabled="!state.captchaToken">Update password</button>
                    </div>
                    <div class="authContainer__links">
                         <router-link class="authContainer__link" to="/login">Login</router-link>
                    </div>
               </form>
               <ReCaptcha @captchaToken="handleCaptchaToken" />
          </template>
     </AuthWrapper>
</template>

<script setup>
import './style.scss';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { reactive, ref } from 'vue';
import { useVuelidate } from '@vuelidate/core';

/** components */
import AuthWrapper from '@/components/AuthWrapper';
import ReCaptcha from '@/components/ReCaptcha';

/** helpers */
import { rules, handleSubmit } from './helpers';

const store = useStore();
const route = useRoute();

const showPassword = ref(false);
const recaptchaRef = ref({});
const state = reactive({
     password: '',
     token: route.query.token,
});

const v$ = useVuelidate(rules, state);

const handleCaptchaToken = ({ token, captchaRef }) => {
     state.captchaToken = token;
     recaptchaRef.value = captchaRef;
};
</script>
