<template>
     <div class="modal" :class="{ active: store.getters.getModalActiveStatus }">
          <div class="modal__container">
               <div class="modal__label">
                    <slot name="label"></slot>
                    <button title="Close modal" class="modal__close-modal" @click="store.dispatch('handleModal', { active: false })"></button>
               </div>
               <div class="modal__content">
                    <slot name="content"></slot>
               </div>
               <div class="modal__footer">
                    <button @click="store.dispatch('handleModal', { active: false })">Close</button>
                    <slot name="submitButton"></slot>
               </div>
          </div>
     </div>
</template>

<script setup>
import './style.scss';
import '@vueup/vue-quill/dist/vue-quill.snow.css';
import { useStore } from 'vuex';

const store = useStore();
</script>

<script>
export default {
     name: 'ModalComponent',
};
</script>
