.modal {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     display: none;
     background: rgba(0, 0, 0, 0.3);
     height: 100%;
     max-height: 100%;
     overflow-y: scroll;
     z-index: 10;

     &.active {
          @include flex(flex, center, flex-start);
     }

     &__label {
          margin: -25px 0 10px 0;

          span {
               @include faqLabel;
          }
     }

     &__container {
          @extend .box-shadow-1;
          position: relative;
          min-width: 300px;
          max-width: 700px;
          padding: 1rem;
          background: $faq-white;
          border-radius: 7px;
          margin: 110px 8px 8px;

          .ql-toolbar {
               * {
                    pointer-events: all;
               }
          }
     }

     &__close-modal {
          @include size(25px);
          @include backgroundProperties(contain, center);
          position: absolute;
          top: 10px;
          right: 10px;
          background-image: $xmark-purple;
          background-color: transparent;
          cursor: pointer;
          border: none;
     }

     &__content {
          @include inputGroup;
          height: 90%;

          .ql-container {
               max-height: 400px;
               overflow-y: scroll;
          }
     }

     &__footer {
          display: flex;
          justify-content: flex-end;
          margin-top: 1rem;

          button {
               @include faqLabel('button');

               &:first-of-type {
                    margin-right: 1rem;
                    background-color: $faq-color-3;

                    &:hover {
                         background-color: $faq-color-5;
                    }
               }
          }
     }

     &__server-error {
          display: block;
          margin-top: 20px;
          margin-bottom: 5px;
          font-size: 14px;
          color: $faq-color-10;
     }
}

// dark mode
[data-mode='dark'] {
     .modal {
          &__label {
               span {
                    box-shadow: none;
               }
          }

          &__container {
               background: $faq-color-12;

               input {
                    background: $faq-color-17;
                    color: $faq-white;
                    border: none !important;
               }
          }

          &__content {
               #my-toolbar,
               .ql-container {
                    background-color: $faq-color-17;
               }

               .ql-toolbar {
                    border: 1px solid $faq-color-17;
               }

               #my-toolbar {
                    text-align: center;
                    border: 1px solid $faq-color-6;
               }

               .ql-container {
                    border: none;

                    .ql-editor {
                         color: $faq-white;
                    }
               }

               svg {
                    path {
                         fill: $faq-color-3;
                    }

                    rect {
                         stroke: $faq-color-3;
                    }
               }

               .ql-stroke {
                    stroke: $faq-color-3;
               }

               .ql-picker-label {
                    color: $faq-color-3;
               }
          }

          &__footer {
               button {
                    box-shadow: none;
                    color: $faq-black;

                    &:first-of-type {
                         background-color: $faq-color-3;

                         &:hover {
                              background-color: $faq-color-5;
                         }
                    }

                    &:last-of-type {
                         &:hover {
                              color: $faq-white;
                         }
                    }
               }
          }

          &__server-error {
               color: $faq-color-10;
          }
     }
}
