<template>
     <VueRecaptcha
          class="recaptcha-container"
          ref="captchaRef"
          :load-recaptcha-script="true"
          :sitekey="KEYS.CAPTCHA_SITE_KEY"
          @verify="handleSuccess"
     ></VueRecaptcha>
</template>

<script setup>
import { ref } from 'vue';
import { VueRecaptcha } from 'vue-recaptcha';
import { KEYS } from '../../../config';

const emit = defineEmits(['captchaToken']);
const captchaRef = ref(null);

const handleSuccess = (token) => {
     emit('captchaToken', { token, captchaRef });
};
</script>

<script>
export default {
     name: 'ReCaptchaComponent',
};
</script>
