<template>
     <modal>
          <template #label>
               <span>Update category</span>
          </template>

          <template #content>
               <span class="modal__server-error" v-if="store.getters.getServerError">{{ store.getters.getServerError }}</span>
               <div class="input-group" :class="{ error: v$.currentCategory.$errors.length }">
                    <input type="text" v-model="currentCategory.name" placeholder="Update" @blur="v$.currentCategory.$touch" />
                    <div class="input-group__errors" v-for="error of v$.currentCategory.$errors" :key="error.$uid">
                         <span>{{ error.$message }}</span>
                    </div>
               </div>
          </template>

          <template #submitButton>
               <button @click="handleUpdate">Update</button>
          </template>
     </modal>
</template>

<script setup>
import { computed } from 'vue';
import { useVuelidate } from '@vuelidate/core';
import { useStore } from 'vuex';
import { rules } from './helpers';

/**  components */
import Modal from '@/components/Modal';

const store = useStore();
const currentCategory = computed(() => store.getters.getSelectedCategory);
const v$ = useVuelidate(rules, { currentCategory });

const handleUpdate = async () => {
     const validate = await v$.value.$validate();

     if (validate) {
          currentCategory.value.name = currentCategory.value.name.toLowerCase();

          await store.dispatch('updateCategory', currentCategory.value);
          currentCategory.value = '';
          v$.value.$reset();
     }
};
</script>

<script>
export default {
     name: 'NewCategoryModalComponent',
};
</script>
