<template>
     <NewCategory @scroll-category-list="handleScroll({ element: allCategoryListRef })" />
     <UpdateCategory v-if="modalType === 'updateCategory'" />
     <NewPost v-if="modalType === 'post'" />
     <EditPost v-if="modalType === 'editPost'" />

     <div class="dashboard">
          <div class="dashboard__container">
               <Menu />
               <div class="dashboard__row">
                    <div class="dashboard__column">
                         <div class="dashboard__card" :class="{ active: showCategories }">
                              <button class="dashboard__label" @click="openCategoryDropdown">
                                   <span>All category</span>
                              </button>
                              <button
                                   title="Add new category"
                                   class="dashboard__add-new-category"
                                   @click="store.dispatch('handleModal', { active: true, type: 'newCategory' })"
                              ></button>
                              <div class="dashboard__card-wrapper" ref="allCategoryListRef">
                                   <List :data="categories" />
                              </div>
                         </div>
                         <div class="dashboard__card">
                              <span class="dashboard__label">Own category</span>
                              <div class="dashboard__card-wrapper">
                                   <List :data="ownCategory" />
                              </div>
                         </div>
                    </div>
                    <div class="dashboard__column">
                         <main class="dashboard__main">
                              <button class="dashboard__label" v-if="selectedCategory">
                                   <span>{{ selectedCategory.name }}</span>
                              </button>

                              <!-- New post -- button  -->
                              <button
                                   v-if="categories.length && !route.params.id"
                                   @click="store.dispatch('handleModal', { active: true, type: 'post' })"
                                   title="Add new post"
                                   class="dashboard__new-post"
                              ></button>

                              <!-- Delete post -- button  -->
                              <template v-if="route.params.id && selectedPost && selectedPost.author._id === user._id">
                                   <button
                                        @click="store.dispatch('handleModal', { active: true, type: 'editPost' })"
                                        title="Edit post"
                                        class="dashboard__edit-post"
                                   ></button>
                                   <button title="Delete post" class="dashboard__delete-post" @click="handleDeletePost({ store, selectedPost })"></button>
                              </template>

                              <div class="dashboard__content">
                                   <router-view />
                              </div>
                         </main>
                    </div>
               </div>
          </div>
     </div>
</template>

<script setup>
import './style.scss';
import { computed, onMounted, ref } from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import router from '@/router';

/** components */
import List from '@/components/CategoryList';
import NewPost from '@/components/NewPost';
import EditPost from '@/components/EditPost';
import NewCategory from '@/components/NewCategory';
import UpdateCategory from '@/components/UpdateCategory';
import Menu from '@/components/Menu';

/** helpers */
import { handleDeletePost, handleScroll } from './helpers';

const route = useRoute();
const store = useStore();
const showCategories = ref(false);
const allCategoryListRef = ref(null);

const selectedCategory = computed(() => store.getters.getSelectedCategory);
const modalType = computed(() => store.getters.getModalType);
const categories = computed(() => store.getters.getAllCategories);
const user = computed(() => store.getters.getUser);
const selectedPost = computed(() => store.getters.getSelectedPost);
const ownCategory = computed(() => categories.value.filter((category) => category.author._id === user.value._id));

const openCategoryDropdown = () => (showCategories.value = !showCategories.value);

onMounted(async () => {
     await store.dispatch('getAllCategories');
     await router.push({ path: '/dashboard' });

     if (selectedCategory.value) {
          await store.dispatch('getAllPosts', {
               categoryID: selectedCategory.value._id,
          });
     }
});
</script>

<script>
export default {
     name: 'DashboardComponent',
};
</script>
