.dashboard {
     min-height: calc(100vh - 61px - 2rem);

     &__container {
          position: relative;
          width: 100%;
          max-width: 95%;
          margin: 0 auto;
     }

     &__row {
          display: block;
          margin-top: 2rem;

          @include from($tablet) {
               display: flex;
          }
     }

     &__column {
          width: 100%;

          &:first-child {
               @include from($tablet) {
                    max-width: 320px;
               }
          }

          &:last-child {
               margin-top: 20px;

               .dashboard__add-new-category {
                    margin-right: 10px;

                    @include from($tablet) {
                         margin-right: 0;
                    }
               }

               @include from($tablet) {
                    margin-top: 0;
               }
          }
     }

     &__main,
     &__card {
          @extend .box-shadow-1;
          background: $faq-white;
          border-radius: 7px;
     }

     &__card {
          padding: 1rem 0 1rem 1rem;
          position: relative;

          &:nth-child(1) {
               margin-bottom: 0;
               padding: 1rem 0 0 10px;
               background: transparent;
               box-shadow: none;

               .dashboard__card-wrapper {
                    max-height: 0;
                    margin: -20px 0 0;
                    padding: 0;
                    transition: max-height 0.15s ease-out;
                    overflow: hidden;
               }

               &.active {
                    background: $faq-white;

                    .dashboard__card-wrapper {
                         max-height: 200px;
                         overflow-y: scroll;
                         position: relative;
                    }

                    .dashboard__label {
                         span {
                              &:after {
                                   transform: translateY(-50%) rotate(180deg);
                              }
                         }
                    }
               }

               .dashboard__label {
                    width: calc(100% - 60px);

                    span {
                         position: relative;
                         pointer-events: none;

                         &:after {
                              @include size(15px);
                              @include backgroundProperties(contain, center);
                              position: absolute;
                              content: '';
                              top: 50%;
                              right: -20px;
                              transform: translateY(-50%);
                              background-image: $arrow-down;
                              transition: 0.3s all;
                         }
                    }
               }

               @include from($tablet) {
                    display: block;
                    min-height: calc(100vh - 341px);
                    max-height: calc(100vh - 341px);
                    margin: 0 20px 30px 0;
                    padding-left: 10px;
                    background: $faq-white;

                    .dashboard__card-wrapper {
                         min-height: calc(100vh - 341px - 50px);
                         max-height: calc(100vh - 341px - 50px);
                         margin-top: -20px;
                         overflow-y: scroll;
                    }

                    .dashboard__label {
                         width: calc(100% - 80px);
                         pointer-events: none;

                         span {
                              &:after {
                                   display: none;
                              }
                         }
                    }
               }
          }

          &:nth-child(2) {
               display: none;

               .dashboard__card-wrapper {
                    min-height: 150px;
                    max-height: 150px;
                    margin-top: -20px;
                    overflow-y: scroll;
               }

               @include from($tablet) {
                    display: block;
                    min-height: 206px;
                    max-height: 206px;
                    margin-right: 20px;
               }
          }
     }

     &__label {
          @include faqLabel();
          position: relative;
          top: -25px;
          padding: 12px 30px;
          border: none;
     }

     &__main {
          position: relative;
          height: 100%;
          padding: 1rem;

          table {
               width: 100%;
               min-width: 600px;
               border-collapse: collapse;

               tr,
               td {
                    text-align: left;
                    border-bottom: 1px solid $faq-color-11;
               }

               th {
                    font-weight: 700;

                    &:nth-child(1) {
                         width: 5%;
                    }

                    &:nth-child(2) {
                         width: 75%;
                    }

                    &:nth-child(3) {
                         width: 20%;
                         text-align: right;
                    }
               }

               tr {
                    vertical-align: baseline;

                    a {
                         color: $faq-color-6;
                         font-weight: 300;

                         &:not(&:hover) {
                              text-decoration: none;
                         }
                    }

                    &:nth-child(even) {
                         background: rgba(234, 234, 234, 0.3);
                    }
               }

               td {
                    padding: 7px 0;
                    color: $faq-color-6;
                    font-weight: 300;

                    &:nth-child(3) {
                         text-align: right;
                    }
               }
          }
     }

     &__content {
          overflow: auto;
          overflow-y: scroll;
          max-height: calc(100vh - 61px - 120px);

          @include from($tablet) {
               overflow-x: unset;
               padding-right: 10px;
          }
     }

     &__add-new-category,
     &__new-post,
     &__delete-post,
     &__edit-post {
          @include size(44px);
          @extend .box-shadow-2;
          @include backgroundProperties(20px, center);
          position: absolute;
          top: -9px;
          right: 10px;
          background-color: $faq-white;
          background-image: $plus-purple;
          border-radius: 50px;
          transition: 0.5s all;
          cursor: pointer;
          border: none;

          &:hover {
               background-color: $faq-color-1;
               background-image: $plus-white;
          }

          @include from($tablet) {
               right: 20px;
          }
     }

     &__delete-post {
          background-image: $trash-purple;
          background-size: 16px;

          &:hover {
               background-image: $trash-white;
          }

          @include from($tablet) {
               right: 20px;
          }
     }

     &__edit-post {
          background-image: $pen-purple;
          background-size: 16px;
          right: 70px;

          &:hover {
               background-image: $pen-white;
          }

          @include from($tablet) {
               right: 75px;
          }
     }
}

// dark mode
[data-mode='dark'] {
     .dashboard {
          * {
               transition: 0.3s all;
          }

          &__card {
               &:nth-child(1) {
                    background: transparent;

                    &.active {
                         background: $faq-color-12;
                    }

                    .dashboard__label {
                         span {
                              &:after {
                                   background-image: $arrow-down;
                              }
                         }
                    }

                    @include from($tablet) {
                         background: $faq-color-12;
                    }
               }

               &:nth-child(2) {
                    background: $faq-color-12;
               }
          }

          &__main {
               background: $faq-color-12;

               table {
                    th {
                         color: $faq-color-5;
                    }
                    tr,
                    td {
                         border-bottom: 1px solid $faq-color-13;
                    }

                    tr {
                         a {
                              color: $faq-color-14;
                         }

                         &:nth-child(even) {
                              background: $faq-color-6;
                         }
                    }

                    td {
                         color: $faq-white;
                    }
               }
          }

          &__label {
               box-shadow: none;
          }

          &__add-new-category,
          &__new-post,
          &__delete-post,
          &__edit-post {
               box-shadow: none;

               &:hover {
                    background-color: $faq-white;
               }
          }

          &__add-new-category,
          &__new-post,
          &__delete-post {
               background-color: $faq-color-1;
               background-image: $plus-white;

               &:hover {
                    background-image: $plus-purple;
               }
          }

          &__delete-post {
               background-color: $faq-color-1;
               background-image: $trash-white;

               &:hover {
                    background-image: $trash-purple;
               }
          }

          &__edit-post {
               background-color: $faq-color-1;
               background-image: $pen-white;

               &:hover {
                    background-image: $pen-purple;
               }
          }
     }
}
