<template>
     <div class="menu" :class="{ active: store.getters.getMenuActiveStatus }" tabindex="0" ref="menuRef">
          <div class="menu__container">
               <ThemeSwitcher />
               <ul class="list">
                    <li v-if="false" class="list__item menu__item menu__item--profile">
                         <router-link class="list__link" to="/dashboard">
                              <span class="list__name">Profile</span>
                         </router-link>
                    </li>
                    <li class="list__item menu__item menu__item--logout" @click="store.dispatch('logout')">
                         <router-link class="list__link" to="/dashboard">
                              <span class="list__name"> Logout</span>
                         </router-link>
                    </li>
               </ul>
          </div>
     </div>
</template>

<script setup>
import './style.scss';
import { ref } from 'vue';
import { useStore } from 'vuex';

/**  components */
import ThemeSwitcher from '@/components/ThemeSwitcher';

/**  helpers */
import { handleMenu } from './helpers';

const store = useStore();
const menuRef = ref(null);

handleMenu({ menuRef });
</script>

<script>
export default {
     name: 'MenuComponent',
};
</script>
