.menu {
     @extend .box-shadow-1;
     position: absolute;
     display: none;
     top: -33px;
     right: 0;
     padding: 10px 10px 0 10px;
     background-color: $faq-white;
     border-radius: 10px;
     z-index: 1;

     &.active {
          display: block;
     }

     &__item {
          margin-right: 0 !important;
     }

     &:before {
          content: '';
          position: absolute;
          top: -14px;
          right: 7px;
          transition: 0.3s all;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 15px solid $faq-white;
     }
}

// dark mode
[data-mode='dark'] {
     .menu {
          background-color: $faq-color-12;

          &:before {
               border-bottom: 15px solid $faq-color-12;
          }
     }
}
