@import 'fonts';

html,
body,
#app {
     min-height: 100vh;
}

* {
     box-sizing: border-box;
     margin: 0;
     font-family: 'Inter', sans-serif;
     font-weight: normal;

     &::-webkit-scrollbar {
          @include size(1px);
     }

     &::-webkit-scrollbar-track {
          background: transparent;
     }

     &::-webkit-scrollbar-thumb {
          background: $faq-color-5;
     }

     body {
          background-color: $faq-color-4;
          position: relative;
     }

     &:focus {
          outline: none;
     }

     &:before,
     &:after {
          box-sizing: border-box;
     }
}

[data-mode='dark'] {
     body {
          background-color: $faq-color-17;
     }
}
