.box-shadow-1 {
     box-shadow: 0 0 1px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
}

.box-shadow-2 {
     box-shadow: 0 0 4px 0 #555555;
}

.box-shadow-3 {
     box-shadow: 0 0 0 rgb(0 0 0 / 100%), 0 0 3px rgb(0 0 0 / 100%);
}

.pulseBackgroundColor {
     animation-name: colorPulse;
     animation-duration: 1s;
     animation-iteration-count: infinite;

     @keyframes colorPulse {
          0% {
               background-color: $faq-color-3;
          }

          50% {
               background-color: $faq-color-16;
          }

          100% {
               background-color: $faq-color-3;
          }
     }
}
