@font-face {
     font-family: 'Inter';
     src: url('../src/assets/fonts/Inter-Bold.woff2') format('woff2'), url('../src/assets/fonts/Inter-Bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: 'Inter';
     src: url('../src/assets/fonts/Inter-Light.woff2') format('woff2'), url('../src/assets/fonts/Inter-Light.woff') format('woff');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: 'Inter';
     src: url('../src/assets/fonts/Inter-Regular.woff2') format('woff2'), url('../src/assets/fonts/Inter-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: 'Inter';
     src: url('../src/assets/fonts/Inter-Thin.woff2') format('woff2'), url('../src/assets/fonts/Inter-Thin.woff') format('woff');
     font-weight: 100;
     font-style: normal;
     font-display: swap;
}
