$bars: url('@/assets/svg/bars.svg');
$bars-white: url('@/assets/svg/bars-white.svg');
$plus-white: url('@/assets/svg/plus-white.svg');
$plus-purple: url('@/assets/svg/plus-purple.svg');
$folder-purple: url('@/assets/svg/folder-purple.svg');
$folder-gray: url('@/assets/svg/folder-gray.svg');
$arrow-down: url('@/assets/svg/arrow-down.svg');
$xmark_purple: url('@/assets/svg/xmark-purple.svg');
$pen: url('@/assets/svg/pen.svg');
$pen-white: url('@/assets/svg/pen-white.svg');
$pen-purple: url('@/assets/svg/pen-purple.svg');
$trash: url('@/assets/svg/trash.svg');
$trash-white: url('@/assets/svg/trash-white.svg');
$trash-purple: url('@/assets/svg/trash-purple.svg');
$user-purple: url('@/assets/svg/user-purple.svg');
$logout-purple: url('@/assets/svg/logout-purple.svg');
$eye-purple: url('@/assets/svg/eye.svg');
$eye-slash-purple: url('@/assets/svg/eye-slash.svg');
