@mixin size($width, $height: $width) {
     width: $width;
     height: $height;
}

@mixin flex($display: flex, $justify: center, $align: center) {
     display: $display;
     justify-content: $justify;
     align-items: $align;
}

@mixin backgroundProperties($size: cover, $position: center) {
     background-repeat: no-repeat;
     background-size: $size;
     background-position: $position;
}

@mixin until($width) {
     @media (max-width: $width) {
          @content;
     }
}

@mixin from($width) {
     @media (min-width: $width) {
          @content;
     }
}

@mixin faqLabel($element: 'div') {
     display: inline-block;
     padding: 10px 30px;
     font-size: 17px;
     background-color: $faq-color-1;
     color: $faq-white;
     border-radius: 50px;
     text-transform: capitalize;
     transition: 0.3s all;
     box-shadow: 0 1px 2px 0 $faq-color-3;
     text-align: center;
     min-height: 43px;

     @if $element == 'button' {
          cursor: pointer;
          border: none;

          &:hover {
               background-color: $faq-color-2;
          }
     }
}

@mixin authContainer {
     .authContainer {
          @include flex;
          padding-top: 80px;

          &__wrapper {
               @extend .box-shadow-1;
               width: 100%;
               max-width: 300px;
               padding: 2rem 1rem;
               text-align: center;
               background-color: $faq-white;
               border-radius: 5px;
          }

          &__title {
               margin-bottom: 2rem;
               color: $faq-color-3;
               font-weight: 300;
          }

          &__submit {
               margin-bottom: 1rem;

               button[type='submit'] {
                    @include faqLabel('button');
                    width: 100%;
                    border-radius: 5px;

                    &:disabled {
                         cursor: default;
                    }
               }
          }

          &__links {
               @include flex(flex, space-between);
               margin-bottom: 15px;
          }

          &__link {
               color: $faq-color-1;
               font-size: 14px;
               font-weight: 300;

               &:hover {
                    color: $faq-color-2;
               }

               &:last-child {
                    margin-left: auto;
               }
          }

          &__server-error {
               display: block;
               margin-bottom: 5px;
               color: red;
               font-size: 14px;
          }
     }

     @include from(400px) {
          .authContainer {
               &__wrapper {
                    max-width: 365px;
                    padding: 3rem 2rem;
               }
          }
     }
}

@mixin inputGroup {
     .input-group {
          margin-bottom: 1rem;
          position: relative;

          &.error {
               input {
                    border: 1px solid red;
               }
          }

          input {
               @include size(100%, 40px);
               padding: 10px 50px 10px 20px;
               border: 1px solid $faq-color-5;
               border-radius: 5px;
               font-weight: 300;
          }

          &__errors {
               display: flex;
               text-align: left;

               span {
                    font-size: 12px;
                    color: red;
               }
          }

          &__show-password {
               @include size(20px);
               @include backgroundProperties(contain, center);
               position: absolute;
               content: '';
               top: 11px;
               right: 10px;
               background-image: $eye-purple;
               cursor: pointer;

               &.active {
                    background-image: $eye-slash-purple;
               }
          }
     }
}
