$color-white: #fff;
$color-black: #000;

$color-brand-1: #b5b2c3;
$color-brand-2: #ebecf1;
$color-brand-3: #67666e;
$color-brand-4: #5867dd;
$color-brand-5: #384ad7;
$color-brand-6: #74788d;
$color-brand-7: #f8f8f8;
$color-brand-8: #495057;
