$color-white: #fff;
$color-black: #000;

$color-brand-1: #d8d7de;
$color-brand-2: #ebecf1;
$color-brand-3: #67666e;
$color-brand-4: #5867dd;
$color-brand-5: #384ad7;
$color-brand-6: #74788d;
$color-brand-7: #f8f8f8;
$color-brand-8: #495057;
$color-brand-9: #50cd89;
$color-brand-10: #e8fff3;
$color-brand-11: #1e1e2d;
$color-brand-12: #1b1b28;
$color-brand-13: #4c4e6f;
$color-brand-14: #9899ac;
$color-brand-15: #2a2b3a;
$color-brand-16: #d0caca;
