// COLORS
$faq-white: #fff;
$faq-black: #000;

$faq-color-1: #87086b;
$faq-color-2: #73085a;
$faq-color-3: #8b8b8b;
$faq-color-4: #e9ecef;
$faq-color-5: #cccccc;
$faq-color-6: #393939;
$faq-color-7: #5c084a;
$faq-color-8: #0000007d;
$faq-color-9: #fefefe;
$faq-color-10: #f01;
$faq-color-11: #e0e0e0;
$faq-color-12: #292929;
$faq-color-13: #3a3a3a;
$faq-color-14: #b0b0b0;
$faq-color-15: #e86ecd;
$faq-color-16: #c7c7c7;
$faq-color-17: #212121;
$faq-color-18: #dddddd;
$faq-color-19: #2f2f2f;

// BREAK POINTS
$mobile: 600px;
$tablet: 1000px;
$desktop: 1300px;
