<template>
     <div class="details">
          <div class="details__container">
               <div class="details__rte">
                    <single-post />
               </div>
               <div class="details__gallery">
                    <ImageGallery />
               </div>
          </div>
     </div>
</template>

<script setup>
import './style.scss';

/** components */
import ImageGallery from '@/components/ImageGallery';
import SinglePost from '@/components/SinglePost';
</script>

<script>
export default {
     name: 'PostDetails',
};
</script>
