.details {
     min-height: 550px;

     &__container {
          display: flex;
          flex-direction: column;
     }

     &__rte {
          width: 100%;
          margin-bottom: 20px;

          .ql-container {
               min-height: 350px;
          }

          @include from($tablet) {
               min-width: 520px;
          }
     }

     &__gallery {
          flex: 1;
          height: 100%;
     }

     &__actions {
          display: flex;
          justify-content: flex-end;
          margin-top: 0.5rem;
     }

     &__button {
          @include faqLabel('button');
          padding: 5px 35px;

          &--cancel {
               background-color: $faq-color-3;
               margin-right: 10px;

               &:hover {
                    background-color: $faq-color-5;
               }
          }
     }
}

@include from($tablet) {
     .details {
          &__rte {
               flex: 1;
               margin-right: 20px;

               .ql-container {
                    max-height: calc(100% - 22px);
               }
          }
     }
}

@include from(1600px) {
     .details {
          &__container {
               flex-direction: row;
          }

          &__gallery {
               margin-left: 10px;
          }
     }
}

[data-mode='dark'] {
     .details {
          &__rte {
               .ql-toolbar,
               .ql-container {
                    border: 1px solid $faq-color-6;
               }

               .ql-container {
                    color: $faq-white;
               }
          }

          &__button {
               box-shadow: none;

               &--cancel,
               &--save {
                    color: $faq-black;
               }

               &--cancel {
                    background-color: $faq-color-3;

                    &:hover {
                         background-color: $faq-color-5;
                    }
               }

               &--save {
                    &:hover {
                         color: $faq-white;
                    }
               }
          }
     }
}
