<template>
     <template v-if="user">
          <nav-bar />
          <dashboard />
     </template>
</template>

<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';

/** components */
import NavBar from '@/components/NavBar';
import Dashboard from '@/components/Dashboard';

const store = useStore();
const user = computed(() => store.getters.getUser);
</script>

<script>
export default {
     name: 'DashboardView',
};
</script>
