<template>
     <table>
          <tr>
               <th>#</th>
               <th>Title</th>
               <th>Author</th>
          </tr>

          <tr v-for="(post, index) in store.getters.getAllPosts" :key="post._id">
               <td>{{ index + 1 }}</td>
               <td>
                    <router-link :to="`/post/${post._id}`" @click="handleSelectPost(post)">{{ post.title }}</router-link>
               </td>
               <td>{{ post.author.firstname }} {{ post.author.lastname }}</td>
          </tr>
     </table>
</template>

<script setup>
import { useStore } from 'vuex';

const store = useStore();
const handleSelectPost = (post) => store.dispatch('handleSelectPost', post);
</script>

<script>
export default {
     name: 'PostList',
};
</script>
