<template>
     <div class="authContainer">
          <div class="authContainer__wrapper">
               <slot name="form"></slot>
          </div>
     </div>
</template>

<script>
import './style.scss';

export default {
     name: 'AuthWrapperComponent',
};
</script>
