<template>
     <modal>
          <template #label>
               <span>Edit post</span>
          </template>
          <template #content>
               <div class="input-group" :class="{ error: v$.title.$errors.length }">
                    <input type="text" v-model="title" placeholder="Enter new category" @blur="v$.title.$touch" />
                    <div class="input-group__errors" v-for="error of v$.title.$errors" :key="error.$uid">
                         <span>{{ error.$message }}</span>
                    </div>
               </div>
               <RTE :readOnly="false" @editor-change="getEditorHTML" :setHTML="true" />
          </template>
          <template #submitButton>
               <button @click="onClick">Save</button>
          </template>
     </modal>
</template>

<script setup>
import { computed, onMounted, ref } from 'vue';
import { useVuelidate } from '@vuelidate/core';
import { useStore } from 'vuex';

/**  components */
import RTE from '@/components/RTE';
import Modal from '@/components/Modal';

/**  helpers */
import { handleSubmit, rules } from './helpers';

const store = useStore();
const title = ref('');
const rteHTML = ref('');
const v$ = useVuelidate(rules, { title });

const selectedPost = computed(() => store.getters.getSelectedPost);
const getEditorHTML = (data) => (rteHTML.value = data.getHTML());
const onClick = async () => await handleSubmit({ v$, title, rteHTML });

onMounted(() => {
     if (selectedPost.value) {
          title.value = selectedPost.value.title;
     }
});
</script>

<script>
export default {
     name: 'EditPostComponent',
};
</script>
