<template>
     <div class="spinner" :class="{ active: store.getters.getSpinnerActiveStatus }">
          <span class="spinner__content"></span>
     </div>
</template>

<script setup>
import './style.scss';
import { useStore } from 'vuex';

const store = useStore();
</script>

<script>
export default {
     name: 'SpinnerComponent',
};
</script>
