.spinner {
     @include size(100%);
     position: absolute;
     top: 0;
     left: 0;
     background: $faq-color-8;
     z-index: 11;
     display: none;

     &.active {
          @include flex;
     }

     &__content {
          @include size(48px);
          transform: rotateZ(45deg);
          perspective: 1000px;
          border-radius: 50%;
          color: $faq-white;

          &:before,
          &:after {
               @include size(inherit);
               content: '';
               display: block;
               position: absolute;
               top: 0;
               left: 0;
               border-radius: 50%;
               transform: rotateX(70deg);
               animation: 1s spin linear infinite;
          }

          &:after {
               color: $faq-color-1;
               transform: rotateY(70deg);
               animation-delay: 0.4s;
          }
     }
}

@keyframes rotate {
     0% {
          transform: translate(-50%, -50%) rotateZ(0deg);
     }

     100% {
          transform: translate(-50%, -50%) rotateZ(360deg);
     }
}

@keyframes rotateccw {
     0% {
          transform: translate(-50%, -50%) rotate(0deg);
     }

     100% {
          transform: translate(-50%, -50%) rotate(-360deg);
     }
}

@keyframes spin {
     0%,
     100% {
          box-shadow: 0.2em 0 0 0 currentcolor;
     }

     12% {
          box-shadow: 0.2em 0.2em 0 0 currentcolor;
     }

     25% {
          box-shadow: 0 0.2em 0 0 currentcolor;
     }

     37% {
          box-shadow: -0.2em 0.2em 0 0 currentcolor;
     }

     50% {
          box-shadow: -0.2em 0 0 0 currentcolor;
     }

     62% {
          box-shadow: -0.2em -0.2em 0 0 currentcolor;
     }

     75% {
          box-shadow: 0px -0.2em 0 0 currentcolor;
     }

     87% {
          box-shadow: 0.2em -0.2em 0 0 currentcolor;
     }
}
