<template>
     <div class="theme-switch">
          <label class="theme-switch__label" for="checkbox">
               <input type="checkbox" id="checkbox" :checked="darkMode" ref="checkbox" @change="handleChange" />
               <div class="theme-switch__slider"></div>
          </label>
          <span class="theme-switch__theme"> {{ darkMode ? 'dark' : 'light' }} mode </span>
     </div>
</template>

<script setup>
import './style.scss';
import { onMounted, ref } from 'vue';

const darkMode = ref(false);

onMounted(() => {
     darkMode.value = localStorage.getItem('data-mode') === 'dark';
});

const handleChange = () => {
     darkMode.value = !darkMode.value;
     darkMode.value ? setMode('dark') : setMode('light');
};

const setMode = (mode) => {
     localStorage.setItem('data-mode', mode);
     document.documentElement.setAttribute('data-mode', mode);
};
</script>

<script>
export default {
     name: 'ThemeSwitcher',
};
</script>
