.theme-switch {
     display: flex;
     align-items: center;
     padding-bottom: 10px;

     span {
          margin-left: 10px;
          font-size: 14px;
     }

     &__label {
          @include size(50px, 27px);
          position: relative;
          display: inline-block;

          input {
               display: none;

               &:checked {
                    + .theme-switch__slider {
                         background-color: $faq-color-8;

                         &:before {
                              transform: translateY(-50%) translateX(100%);
                         }
                    }
               }
          }
     }

     &__slider {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $faq-color-16;
          transition: 0.4s;
          border-radius: 20px;
          cursor: pointer;

          &:before {
               @include size(22px);
               @extend .box-shadow-2;
               position: absolute;
               content: '';
               top: 50%;
               transform: translateY(-50%);
               left: 3px;
               bottom: 4px;
               background-color: $faq-color-1;
               transition: 0.4s;
               border-radius: 50%;
          }
     }
}

// dark mode
[data-mode='dark'] {
     .theme-switch {
          &__slider {
               &:before {
                    background-color: $faq-color-12;
                    box-shadow: inset 0 0 9px 0 rgba(255, 255, 255, 0.07);
               }
          }

          &__theme {
               color: $faq-white;
          }
     }
}
