<template>
     <AuthWrapper>
          <template #form>
               <form @submit.prevent="handleSubmit({ v$, state, recaptchaRef })" novalidate>
                    <h1 class="authContainer__title">Login page</h1>
                    <span class="authContainer__server-error" v-if="store.getters.getServerError">{{ store.getters.getServerError }}</span>
                    <div class="input-group" :class="{ error: v$.email.$errors.length }">
                         <input type="email" v-model="state.email" placeholder="Enter your email address" @blur="v$.email.$touch" />
                         <div class="input-group__errors" v-for="error of v$.email.$errors" :key="error.$uid">
                              <span>{{ error.$message }}</span>
                         </div>
                    </div>

                    <div class="input-group" :class="{ error: v$.password.$errors.length }">
                         <input
                              :type="showPassword ? 'text' : 'password'"
                              v-model="state.password"
                              placeholder="Enter your password"
                              @blur="v$.password.$touch"
                         />
                         <span class="input-group__show-password" :class="{ active: showPassword }" @click="showPassword = !showPassword"></span>
                         <div class="input-group__errors" v-for="error of v$.password.$errors" :key="error.$uid">
                              <span>{{ error.$message }}</span>
                         </div>
                    </div>

                    <div class="authContainer__submit">
                         <button type="submit" :disabled="!state.captchaToken">login</button>
                    </div>
                    <div class="authContainer__links">
                         <router-link class="authContainer__link" to="/register">Register</router-link>
                         <router-link class="authContainer__link" to="/reset-password">Forgot password?</router-link>
                    </div>
               </form>
               <ReCaptcha @captchaToken="handleCaptchaToken" />
          </template>
     </AuthWrapper>
</template>

<script setup>
import './style.scss';
import { reactive, ref } from 'vue';
import { useStore } from 'vuex';
import { useVuelidate } from '@vuelidate/core';

/** components */
import AuthWrapper from '@/components/AuthWrapper';
import ReCaptcha from '@/components/ReCaptcha';

/** helpers */
import { rules, handleSubmit } from './helpers';

const store = useStore();
const showPassword = ref(false);
const recaptchaRef = ref({});

const state = reactive({
     email: '',
     password: '',
     captchaToken: '',
});

const v$ = useVuelidate(rules, state);

const handleCaptchaToken = ({ token, captchaRef }) => {
     state.captchaToken = token;
     recaptchaRef.value = captchaRef;
};
</script>
