@include inputGroup;

.recaptcha-container {
     transform: scale(0.88);
     position: relative;
     left: -15px;

     @include from(400px) {
          transform: scale(1);
          position: unset;
          left: unset;
     }
}
