<template>
     <modal>
          <template #label>
               <span>Add new post</span>
          </template>
          <template #content>
               <div class="input-group" :class="{ error: v$.title.$errors.length }">
                    <input type="text" v-model="title" placeholder="Enter new category" @blur="v$.title.$touch" />
                    <div class="input-group__errors" v-for="error of v$.title.$errors" :key="error.$uid">
                         <span>{{ error.$message }}</span>
                    </div>
               </div>
               <RTE :readOnly="false" @editor-change="getEditorHTML" :setHTML="false" />
          </template>
          <template #submitButton>
               <button @click="onClick">Save</button>
          </template>
     </modal>
</template>

<script setup>
import { onMounted, ref } from 'vue';
import { useVuelidate } from '@vuelidate/core';

/**  components */
import Modal from '@/components/Modal';
import RTE from '@/components/RTE';

/**  helpers */
import { handleSubmit, rules } from './helpers';

const title = ref('');
const v$ = useVuelidate(rules, { title });
const rteHTML = ref('');

const getEditorHTML = (data) => (rteHTML.value = data.getHTML());

const onClick = async () => {
     await handleSubmit({ v$, title, rteHTML });
     title.value = '';
};

onMounted(() => {
     title.value = '';
     rteHTML.value = '';
});
</script>

<script>
export default {
     name: 'NewPostModalComponent',
};
</script>
