<template>
     <div class="imageGallery">
          <div class="imageGallery__container">
               <template v-if="allPostImages.length">
                    <div v-for="(image, i) in allPostImages" :key="image.imageID" class="imageGallery__item">
                         <img :src="image.imageURL" alt="image" rel="preload" @click="showMultiple(i)" />

                         <template v-if="selectedPost && selectedPost.author._id === user._id">
                              <span class="imageGallery__delete" title="Delete  image" @click="handleDelete({ imageID: image.imageID })"></span>
                         </template>
                    </div>
               </template>

               <template v-if="allPostImages.length < 5 && selectedPost && selectedPost.author._id === user._id">
                    <div class="imageGallery__item imageGallery__item--add">
                         <span @click="fileRef.click()" title="Add new post image"> Add image</span>
                         <input type="file" id="file" accept="image/*" ref="fileRef" @change="onChange" />
                    </div>
               </template>

               <vue-easy-lightbox v-if="imagesRef" :visible="visible" :imgs="imagesRef" :index="index" @hide="visible = false"></vue-easy-lightbox>
          </div>
     </div>
     <p v-if="store.getters.getServerError">{{ store.getters.getServerError }}</p>
</template>

<script setup>
import './style.scss';
import { useStore } from 'vuex';
import { computed, ref, watch, onUnmounted } from 'vue';
import { useRoute } from 'vue-router';
import 'vue-easy-lightbox/external-css/vue-easy-lightbox.css';
import VueEasyLightbox from 'vue-easy-lightbox/dist/external-css/vue-easy-lightbox.esm.min.js';

/**  "useRoute"  can only use in setup, because that's a hook.*/
const route = useRoute();

/** helpers */
import { handleUpload, handleDelete } from './helpers';

const store = useStore();
const fileRef = ref(null);
const visible = ref(false);
const index = ref(0);
const imagesRef = ref([]);

const user = computed(() => store.getters.getUser);
const selectedPost = computed(() => store.getters.getSelectedPost);
const allPostImages = computed(() => store.getters.getAllImages);

const onChange = async (e) => await handleUpload({ e, route, fileRef });

const showMultiple = (i) => {
     index.value = i;
     visible.value = true;
};

onUnmounted(() => {
     imagesRef.value = [];
     store.commit('SET_IMAGES', []);
});

watch(
     () => allPostImages.value,
     () => {
          imagesRef.value = [];
          allPostImages.value.forEach((singlePostImage) => imagesRef.value.push(singlePostImage.imageURL));
     }
);
</script>

<script>
export default {
     name: 'ImageGalleryComponent',
};
</script>
