.imageGallery {
     display: flex;
     justify-content: center;

     &__container {
          width: 100%;
          display: grid;
          grid-gap: 10px;
          justify-content: center;
          grid-template-rows: min-content;
          grid-template-columns: 100%;

          @include from(440px) {
               grid-template-columns: 180px 180px;
               justify-content: flex-start;
          }

          @include from(700px) {
               grid-template-columns: 200px 200px 200px;
          }

          @include from($tablet) {
               justify-content: flex-start;
          }

          @include from($desktop) {
               grid-template-columns: 200px 200px 200px 200px;
          }

          @include from(1600px) {
               grid-template-columns: 200px 200px 200px;
          }
     }

     &__item {
          @extend .box-shadow-1;
          position: relative;
          min-width: 100%;
          height: 130px;
          border-radius: 5px;
          overflow: hidden;

          &:not(&--add) {
               @extend .pulseBackgroundColor;
          }

          input[type='file'] {
               display: none;
          }

          img {
               @include size(100%);
               border-radius: 5px;
               object-fit: cover;
               transition: 0.3s all;
          }

          &:hover {
               img {
                    cursor: pointer;
                    transform: scale(1.05);
               }

               .imageGallery__delete {
                    right: 10px;
               }
          }

          &--add {
               background: $faq-color-18;

               &:after {
                    content: none;
               }

               span {
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    transform: translate(-50%, -25%);
                    font-weight: 300;
                    color: $faq-color-7;
                    font-size: 14px;
                    text-align: center;

                    &:after {
                         @include size(50px);
                         @include backgroundProperties(30px, center);
                         position: absolute;
                         top: 50%;
                         left: 50%;
                         transform: translate(-50%, -50px);
                         content: '';
                         background-image: $plus-purple;
                         cursor: pointer;
                    }
               }
          }
     }

     &__delete {
          @include size(20px);
          position: absolute;
          right: -20px;
          background-repeat: no-repeat;
          background-size: contain;
          transition: 0.3s all;
          cursor: pointer;
     }

     &__delete {
          bottom: 10px;
          background-image: $trash;

          &:hover {
               background-image: $trash-purple;
          }
     }
}
