<template>
     <RTE :readOnly="true" :setHTML="true" />
</template>

<script>
import './style.scss';

/**  components */
import RTE from '@/components/RTE/';

export default {
     name: 'SinglePostComponent',
     components: { RTE },
};
</script>
