<template>
     <ul class="list">
          <li class="list__item" v-for="item in props.data" :key="item._id" :class="{ active: item._id === selectedCategory._id }">
               <router-link class="list__link" to="/dashboard" @click.stop="handleSelectCategory({ selectedCategory, item, store })">
                    <span class="list__name"> {{ item.name }}</span>
                    <template v-if="item.author._id === user._id">
                         <span class="list__edit" title="Edit category" @click="store.dispatch('handleModal', { active: true, type: 'updateCategory' })"></span>
                         <span class="list__delete" title="Delete category" @click="handleDeleteCategory({ store, item })"></span>
                    </template>
               </router-link>
          </li>
     </ul>
</template>

<script setup>
import './style.scss';
import { computed } from 'vue';
import { useStore } from 'vuex';

/** helpers */
import { handleSelectCategory, handleDeleteCategory } from './helpers/';

const store = useStore();
const props = defineProps(['data', 'listWrapperRef']);
const selectedCategory = computed(() => store.getters.getSelectedCategory);
const user = computed(() => store.getters.getUser);
</script>

<script>
export default {
     name: 'CategoryListComponent',
};
</script>
