.list {
     margin: 0;
     padding: 0;
     list-style: none;

     &__item {
          pointer-events: none;
          position: relative;
          margin: 0 10px 5px 0;
          padding-left: 30px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;

          &:before {
               @include size(12px);
               @include backgroundProperties(contain, center);
               position: absolute;
               content: '';
               top: 50%;
               left: 15px;
               transform: translateY(-50%);
               background-image: $folder-purple;
          }

          &:after {
               @include size(5px, 100%);
               position: absolute;
               content: '';
               top: 0;
               left: 0;
               display: none;
               background-color: $faq-color-1;
          }

          &:last-child {
               margin-bottom: 10px;
          }

          &.active,
          &:hover {
               @extend .box-shadow-1;
               background-color: $faq-color-9;

               &:after {
                    display: block;
               }
          }

          &:hover {
               .list__edit,
               .list__delete {
                    transform: translateX(0px);
                    opacity: 1;
               }
          }

          &.menu__item {
               &--profile,
               &--logout {
                    &:before {
                         @include size(15px);
                         @include backgroundProperties(contain, center);
                         position: absolute;
                         content: '';
                         top: 50%;
                         left: 15px;
                         transform: translateY(-50%);
                    }
               }

               &--profile {
                    margin-bottom: 0;

                    &:before {
                         background-image: $user-purple;
                    }
               }

               &--logout {
                    &:before {
                         background-image: $logout-purple;
                    }
               }
          }
     }

     &__link {
          @include flex(flex, space-between, center);
          padding: 10px 21px 10px 10px;
          text-decoration: none;
          color: $faq-color-7;
          pointer-events: all;

          span {
               &:nth-child(2) {
                    margin-right: 5px;
               }
          }
     }

     &__name {
          flex: 1;
          margin-right: 20px;
          overflow-x: hidden;
     }

     &__edit,
     &__delete {
          @include backgroundProperties(contain);
          @include size(15px);
          transform: translateX(20px);
          transition: all 0.3s ease-out;
          opacity: 0;
     }

     &__edit {
          background-image: $pen;

          &:hover {
               background-image: $pen-purple;
          }
     }

     &__delete {
          background-image: $trash;

          &:hover {
               background-image: $trash-purple;
          }
     }
}

// dark mode
[data-mode='dark'] {
     .list {
          &__item {
               &:before {
                    background-image: $folder-gray;
               }

               &:after {
                    background-color: $faq-color-3;
               }

               &.active,
               &:hover {
                    background-color: $faq-color-19;
               }

               &.menu__item {
                    &--profile {
                         &:before {
                              background-image: $user-purple;
                         }
                    }

                    &--logout {
                         &:before {
                              background-image: $logout-purple;
                         }
                    }
               }
          }

          &__link {
               color: $faq-color-3;
          }

          &__edit {
               background-image: $pen;

               &:hover {
                    background-image: $pen-white;
               }
          }

          &__delete {
               background-image: $trash;

               &:hover {
                    background-image: $trash-white;
               }
          }
     }
}
