<template>
     <AuthWrapper>
          <template #form>
               <form @submit.prevent="handleSubmit({ v$, state, recaptchaRef })">
                    <h1 class="authContainer__title">Reset password</h1>
                    <span class="authContainer__server-error" v-if="store.getters.getServerError">{{ store.getters.getServerError }}</span>
                    <div class="input-group" :class="{ error: v$.email.$errors.length }">
                         <input type="email" v-model="state.email" placeholder="Enter your email address" @blur="v$.email.$touch" />
                         <div class="input-group__errors" v-for="error of v$.email.$errors" :key="error.$uid">
                              <span>{{ error.$message }}</span>
                         </div>
                    </div>
                    <div class="authContainer__submit">
                         <button type="submit" :disabled="!state.captchaToken">Reset password</button>
                    </div>
                    <div class="authContainer__links">
                         <router-link class="authContainer__link" to="/login">Login</router-link>
                    </div>
               </form>
               <ReCaptcha @captchaToken="handleCaptchaToken" />
          </template>
     </AuthWrapper>
</template>

<script setup>
import './style.scss';
import { reactive, ref } from 'vue';
import { useStore } from 'vuex';
import { useVuelidate } from '@vuelidate/core';

/** components */
import AuthWrapper from '@/components/AuthWrapper';
import ReCaptcha from '@/components/ReCaptcha';

/** helpers */
import { rules, handleSubmit } from './helpers';

const store = useStore();
const recaptchaRef = ref({});
const state = reactive({
     email: '',
});

const v$ = useVuelidate(rules, state);

const handleCaptchaToken = ({ token, captchaRef }) => {
     state.captchaToken = token;
     recaptchaRef.value = captchaRef;
};
</script>
