<template>
     <modal>
          <template #label>
               <span>Add new category</span>
          </template>
          <template #content>
               <span class="modal__server-error" v-if="store.getters.getServerError">{{ store.getters.getServerError }}</span>
               <div class="input-group" :class="{ error: v$.newCategory.$errors.length }">
                    <input type="text" v-model="newCategory" placeholder="Enter new category" @blur="v$.newCategory.$touch" />
                    <div class="input-group__errors" v-for="error of v$.newCategory.$errors" :key="error.$uid">
                         <span>{{ error.$message }}</span>
                    </div>
               </div>
          </template>
          <template #submitButton>
               <button @click="onClick">Save</button>
          </template>
     </modal>
</template>

<script setup>
import { useVuelidate } from '@vuelidate/core';
import { ref } from 'vue';
import { useStore } from 'vuex';

/** components */
import Modal from '@/components/Modal';

/** helpers */
import { handleSubmit, rules } from './helpers';

const store = useStore();
const newCategory = ref('');
const v$ = useVuelidate(rules, { newCategory });
const emit = defineEmits(['scrollCategoryList']);

const onClick = async () => {
     const isNewCategory = await handleSubmit({ newCategory, v$ });
     newCategory.value = '';

     isNewCategory && emit('scrollCategoryList');
};
</script>

<script>
export default {
     name: 'NewCategoryModalComponent',
};
</script>
