<template>
     <nav class="navbar">
          <div class="navbar__container">
               <div class="navbar__box">
                    <span class="navbar__title">FAQ App</span>
               </div>
               <div class="navbar__box">
                    <div class="navbar__info">
                         <h3 class="navbar__name">{{ user.firstname }} {{ user.lastname }}</h3>
                         <span class="navbar__address">{{ user.email }}</span>
                    </div>
                    <div class="navbar__avatar" @click="store.dispatch('handleMenu', !menuIsActive)">
                         <span>{{ user.firstname.charAt(0).toUpperCase() }}</span>
                    </div>
               </div>
          </div>
     </nav>
</template>

<script setup>
import './style.scss';
import { computed } from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const user = computed(() => store.getters.getUser);
const menuIsActive = computed(() => store.getters.getMenuActiveStatus);
</script>

<script>
export default {
     name: 'NavBarComponent',
};
</script>
