.navbar {
     padding: 10px 0;
     background: $faq-white;
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.04));
     transition: 0.3s all;

     &__container {
          @include flex(flex, space-between, center);
          width: 100%;
          max-width: 95%;
          margin: 0 auto;
     }

     &__box,
     &__info {
          display: flex;
     }

     &__box {
          align-items: center;

          &:nth-child(2) {
               position: relative;
          }
     }

     &__toggle {
          @include size(20px);
          @include backgroundProperties(contain, center);
          background-image: $bars;
          background-color: transparent;
          border: none;
          cursor: pointer;
     }

     &__info {
          margin-right: 10px;
          align-items: flex-end;
          flex-direction: column;
     }

     &__name,
     &__title {
          font-weight: 300;
          font-size: 18px;
          color: $faq-color-6;
     }

     &__name {
          text-align: right;
     }

     &__address {
          display: none;
          font-size: 14px;
          color: $faq-color-1;
          font-style: italic;
     }

     &__avatar {
          @include size(35px);
          @include flex;
          @extend .box-shadow-2;
          min-width: 35px;
          background: $faq-color-3;
          color: $faq-white;
          border-radius: 50px;

          span {
               pointer-events: none;
          }

          &:hover {
               cursor: pointer;
          }
     }

     &__title {
          min-width: 75px;
          font-weight: 300;
     }
}

@include from(768px) {
     .navbar {
          &__toggle {
               @include size(25px);
          }

          &__info {
               margin-right: 15px;
          }

          &__name {
               font-size: 20px;
          }

          &__address {
               display: block;
          }

          &__title {
               font-size: 22px;
          }
     }
}

// dark mode
[data-mode='dark'] {
     .navbar {
          background: $faq-color-12;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.04));

          &__name,
          &__title {
               color: $faq-white;
          }

          &__toggle {
               background-image: $bars-white;
          }

          &__address {
               color: $faq-color-15;
          }

          &__avatar {
               box-shadow: none;
          }
     }
}
